@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .no-scroll {
    background-color: blueviolet;
    -ms-overflow-style: none;
    overflow: hidden;
  }
}

::-webkit-scrollbar {
  width: 0px;
}
